#xx-page {
  min-height: 300px;
  background-color: yellow;
}
.space {
  background-color: #dedede;
  min-height: 20px;
  box-sizing: border-box;
  border: 1px dotted gray;
}
#editor-panel,
#controlles-panel {
  min-height: 50px;
  padding: 10px 20px;
}
#widget {
  width: 200px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}
#widget[data-xx-w="0"] {
  visibility: hidden;
}
.dragging .panel-body {
  display: none;
}
.panel-heading {
  text-align: right;
  padding: 2px;
}
.close-button {
  display: inline-block;
}
#top-panel {
  background-color: gray;
  margin-bottom: 20px;
}
